
/* ADD @import statements ABOVE this line  */

/*  ------------------------------------------------------
    BASIC PAGE STYLING
    Here you can set typography, colors and overall page styling
    ------------------------------------------------------ */
html{
    font-size: 100%;
}
body{
    /* Here you can set your default font-family, line-height 
        You can also use max-width and auto margins to limit the width of the page content
        If you set a background-color here it will be the site background color.
    */

}
h1,h2,h3,h4,h5,h6{
    /* Here you can set the font-family for your headings */

}

/*  ------------------------------------------------------
    HYPERLINK STYLING 
    Change the colors here to match the colors you want for your site.
    ------------------------------------------------------ */ 
a{
    color: #1313f1;
    text-decoration: none;
    border-bottom: 1px solid #1313f1;
}
a:hover{
    color: #0fa4df;
    border-bottom: 3px solid #0fa4df;
}
a:visited{
    color: #1313f1;
    border-bottom: 1px solid #1313f1;
}

/*  ------------------------------------------------------
    NAVIGATION STYLING 
    This turns an unordered list in the nav element to a horizontal menu
    It also sets the color for the navigation.
    ------------------------------------------------------ */ 
nav{
    background-color: #fef6c6;
    padding: 10px;
}
    nav ul{
    margin: 0;
    padding: 0;
}
nav li
{
    display: inline; /* brings nav elements up next to each other */
    list-style-type: none; /* removes the bullet points */
    padding-right: 20px; /* spaces them out from each other. Adjust to suit your needs */
}
/* Change this to whatever color you want your nav and visited nav links to be */
nav li a{
    color: #1313f1;
    border-bottom: none;
}
nav li a:visited{
    color: #1313f1;
    
}

/*  ------------------------------------------------------
    MEDIA STYLING 
    These styles affect how images and audio look on the page.
    ------------------------------------------------------ */ 
/* Responsive Image Base */
img,video{
    max-width: 100%; 
    height: auto;
}

/* Styling for video embeded with iframe */
.videoWrapper {
    position: relative;
    padding-top: 25px;
    height: 0;
    clear:both;
  }
  
  .videoWrapper.ratio-16-9{
      padding-bottom: 56.25%; /* 16:9 */
  }
  
  .videoWrapper.ratio-4-3{
      padding-bottom: 75%; /* 4:3 */
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }